.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero {
  background-image: url("/bg1.jpg");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 3.3rem 0;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;
  background: rgba(82, 130, 163, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.list {
  display: flex;
  gap: 3.25rem;
  justify-content: space-between;
  list-style: none;
}

.contact {
  background-color: #e25e30;
  padding: 13px 16px;
  border-radius: 2px;
}
